/* stylelint-disable */ // Error disable for color-scheme beign before css properties.

$color-scheme: (
  'brand': (
    hsl(0, 100%, 95.1%),
    hsl(353.6, 64.4%, 85.7%),
    hsl(349.1, 55.9%, 76.9%),
    hsl(344.4, 50.9%, 68.8%),
    hsl(339.6, 47.5%, 61.2%),
    hsl(331.4, 45.3%, 48%),
    hsl(325, 59.2%, 37.5%),
    hsl(320, 71.4%, 28.8%),
    hsl(316, 81.8%, 21.6%),
    hsl(313.5, 89.9%, 15.5%),
    hsl(312.5, 96%, 9.8%),
    hsl(310.4, 100%, 4.5%),
  ),
  'accent': (
    hsl(64.8, 100%, 95.1%),
    hsl(67.3, 89.1%, 89.2%),
    hsl(70.1, 85.5%, 83.7%),
    hsl(72.9, 82.3%, 77.8%),
    hsl(75, 78.9%, 72.2%),
    hsl(79.7, 70.7%, 61.2%),
    hsl(82.9, 60.3%, 50.6%),
    hsl(85.5, 71.8%, 40.4%),
    hsl(87.2, 83.1%, 30.2%),
    hsl(88.7, 90.2%, 20%),
    hsl(89.4, 96.2%, 10.4%),
    hsl(90, 100%, 2%),
  ),
  'danger': (
    hsl(0, 100%, 95.1%),
    hsl(358.7, 64.4%, 85.7%),
    hsl(359.1, 55.9%, 76.9%),
    hsl(359.3, 50.9%, 68.8%),
    hsl(358.7, 47.7%, 61%),
    hsl(358.9, 45.1%, 47.8%),
    hsl(359.5, 58.9%, 37.3%),
    hsl(358.9, 72.4%, 28.4%),
    hsl(358.7, 83.3%, 21.2%),
    hsl(358.3, 92.1%, 14.9%),
    hsl(358.7, 95.7%, 9.2%),
    hsl(0, 100%, 3.9%),
  ),
  'warning': (
    hsl(33.6, 100%, 95.1%),
    hsl(37, 64.4%, 85.7%),
    hsl(38.2, 55.9%, 76.9%),
    hsl(39.3, 50.9%, 68.8%),
    hsl(41.1, 47.7%, 61%),
    hsl(43.6, 45.1%, 47.8%),
    hsl(45.5, 58.9%, 37.3%),
    hsl(47.4, 72.4%, 28.4%),
    hsl(48, 83.3%, 21.2%),
    hsl(48.9, 92.1%, 14.9%),
    hsl(50.7, 95.7%, 9.2%),
    hsl(51, 100%, 3.9%),
  ),
  'success': (
    hsl(108, 100%, 95.1%),
    hsl(108.8, 62.3%, 86.5%),
    hsl(110.7, 52.7%, 78.4%),
    hsl(114.1, 47.7%, 70.8%),
    hsl(116.4, 44.4%, 63.3%),
    hsl(121.2, 38.8%, 50%),
    hsl(124.5, 54.1%, 38.4%),
    hsl(127.1, 68.9%, 29%),
    hsl(129.3, 83.3%, 21.2%),
    hsl(130.3, 92.1%, 14.9%),
    hsl(131.7, 100%, 9%),
    hsl(132, 100%, 3.9%),
  ),
  'info': (
    hsl(194.4, 100%, 95.1%),
    hsl(192.8, 64.4%, 85.7%),
    hsl(190, 55.9%, 76.9%),
    hsl(187.4, 50.9%, 68.8%),
    hsl(185.1, 47.7%, 61%),
    hsl(180.5, 45.1%, 47.8%),
    hsl(176.8, 58.9%, 37.3%),
    hsl(174.3, 72.4%, 28.4%),
    hsl(172.7, 83.3%, 21.2%),
    hsl(171.4, 92.1%, 14.9%),
    hsl(170.7, 95.7%, 9.2%),
    hsl(171, 100%, 3.9%),
  )
);

$gray-color-scheme: (
  hsl(300, 100%, 99.4%),
  hsl(312, 16.1%, 93.9%),
  hsl(310, 10.3%, 88.6%),
  hsl(307.5, 9.3%, 83.1%),
  hsl(313.3, 8%, 77.8%),
  hsl(316.4, 6.7%, 67.6%),
  hsl(321.8, 5.1%, 57.5%),
  hsl(330, 4.1%, 47.5%),
  hsl(333.3, 4.7%, 37.5%),
  hsl(337.5, 5.6%, 27.8%),
  hsl(348, 5.4%, 18.2%),
  hsl(0, 4.5%, 8.6%),
);

* {
  // Brand
  --brand-hue: 331;
  --brand-saturation: 45%;
  --brand-lightness: 48%;

  // Accent
  --accent-hue: 80;
  --accent-saturation: 71%;
  --accent-lightness: 61%;

  // Danger
  --danger-hue: 359;
  --danger-saturation: 45%;
  --danger-lightness: 48%;

  // Success
  --success-hue: 127;
  --success-saturation: 39%;
  --success-lightness: 50%;
  
  // Warning
  --warning-hue: 47;
  --warning-saturation: 45%;
  --warning-lightness: 48%;

  // Info
  --info-hue: 174;
  --info-saturation: 45%;
  --info-lightness: 48%;
}

:root {
  /*
    Main color schemes
  */

  // Text and shadow
  @each $category, $list in $color-scheme {
    --#{$category}: hsl(var(--#{$category}-hue) var(--#{$category}-saturation) var(--#{$category}-lightness));
    --text1-#{$category}: hsl(var(--#{$category}-hue) 60% 80%);
    --text2-#{$category}: hsl(var(--#{$category}-hue) 45% 70%);
    --text3-#{$category}: hsl(var(--#{$category}-hue) 35% 60%);
    --text4-#{$category}: hsl(var(--#{$category}-hue) 20% 55%);
    --shadow-#{$category}: hsl(var(--#{$category}-hue) 50% 3%);
  } 

  --shadow-strength: 0.8;

  // Surfaces
  @include create-surface-colors($color-scheme, true);
  

  /*
    Gray (neutral) color scheme
  */
  // Gray is used for both text and surface
  @for $i from 1 to length($gray-color-scheme) + 1 {
    --gray#{$i}: #{nth($gray-color-scheme, $i)};
  }
}
