:root {
  /*

    Base tokens

  */
  @each $name, $value in $base {
    --#{$name}: #{$value};
  }

  /*

    Breakpoints

  */
  $breakpoints: (
    'mobile': 375px,
    'mobile2': 480px,
    'tablet': 760px,
    'tablet2': 1024px,
    'desktop': 1200px,
    'desktop2': 1400px
  );

  @each $name, $value in $breakpoints {
    --#{$name}: #{$value};
  }

  /*

    Layout helpers

  */

  // z-indexes
  $indexes: (
    'bottom': -9999,
    'base': 0,
    'dropdown': 1000,
    'sticky': 1100,
    'overlay': 1200,
    'fixed': 1300,
    'modal-overlay': 1400,
    'modal': 1450,
    'popover': 1500,
    'tooltip': 1600,
    'top': 9999,
  );

  @each $name, $value in $indexes {
    --z-#{$name}: #{$value};
  }

  /*

    Dark theme

  */
  color-scheme: dark;

  @each $name, $value in $dark {
    --#{$name}: #{$value};
  }
}

/*

  Light theme

*/
@media (prefers-color-scheme: light) {
  :root {
    @each $name, $value in $light {
      --#{$name}: #{$value};
    }
  }
}
