
$breakpoints: (
  'mobile': 375px,
  'mobile2': 480px,
  'tablet': 760px,
  'tablet2': 1024px,
  'desktop': 1200px,
  'desktop2': 1400px,
  'desktop3': 1600px
);

$indexes: (
  'bottom': -9999,
  'base': 0,
  'dropdown': 1000,
  'sticky': 1100,
  'overlay': 1200,
  'fixed': 1300,
  'modal-overlay': 1400,
  'modal': 1450,
  'popover': 1500,
  'tooltip': 1600,
  'top': 9999,
);


/*

  Dark theme css properties

*/
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    @each $name, $value in $dark {
      --#{$name}: #{$value};
    }
  }
}

/*

  Light theme css properties

*/
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    @each $name, $value in $light {
      --#{$name}: #{$value};
    }
  }
}


/*

  Base css properties

*/

:root {
  /* Base tokens */
  @each $name, $value in $base {
    --#{$name}: #{$value};
  }

  /* Breakpoints */
  @each $name, $value in $breakpoints {
    --#{$name}: #{$value};
  }

  /* Layout helpers */

  // z-indexes
  @each $name, $value in $indexes {
    --z-#{$name}: #{$value};
  }

  /* Global variables */
  --container-gap: var(--space00);
  --the-main-nav-height: 60px;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    --container-gap: var(--space20);
    --the-main-nav-height: 70px;
  }
}
