.dark-theme {
          --ui-background: $Greys.90;
  --interactive-01: $Brand.30;
  --interactive-02: $Brand.30;
  --interactive-03: $White;
  --interactive-04: $Brand.20;
  --danger-01: $Danger.30;
  --danger-02: $Danger.20;
  --ui-01: $Greys.80;
  --ui-02: $Greys.70;
  --ui-03: $Greys.70;
  --ui-04: $Greys.50;
  --ui-05: $Greys.00;
  --button-separator: $Greys.90;
  --decorative-01: $Greys.60;
  --text-01: $Greys.00;
  --text-02: $Greys.20;
  --text-03: $Greys.50;
  --text-04: $White;
  --text-05: $Greys.40;
  --text-error: $Danger.10;
  --link-01: $Brand.30;
  --link-02: $Brand.20;
  --inverse-link: $Brand.50;
  --icon-01: $Greys.00;
  --icon-02: $Greys.20;
  --icon-03: $White;
  --support-01: $Danger.20;
  --support-02: $Success.20;
  --support-03: $Warning.20;
  --support-04: $Info.20;
      }