.light-theme {
          --ui-background: $Greys.00;
  --interactive-01: $Brand.30;
  --interactive-02: $Brand.40;
  --interactive-03: $Brand.30;
  --interactive-04: $Brand.30;
  --danger-01: $Danger.30;
  --danger-02: $Danger.30;
  --ui-01: $Greys.10;
  --ui-02: $Greys.00;
  --ui-03: $Greys.20;
  --ui-04: $Greys.50;
  --ui-05: $Greys.90;
  --button-separator: $Greys.20;
  --decorative-01: $Greys.20;
  --text-01: $Greys.90;
  --text-02: $Greys.60;
  --text-03: $Greys.40;
  --text-04: $Greys.00;
  --text-05: $Greys.50;
  --text-error: $Danger.30;
  --link-01: $Brand.50;
  --link-02: $Brand.60;
  --inverse-link: $Brand.40;
  --icon-01: $Greys.90;
  --icon-02: $Greys.60;
  --icon-03: $Greys.00;
  --support-01: $Danger.30;
  --support-02: $Success.30;
  --support-03: $Warning.30;
  --support-04: $Info.30;
      }