/*
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  background-color: var(--background-secondary);
  box-sizing: border-box;
  color: var(--text-01);
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * Setup base body rules
 */
body {
  min-height: 100vh; // Set up to use all available vertical viewport space
  overflow-y: scroll; // Always show scrollbar to prevent layout shifting
}

/*
 * Make images and svg adjust to its container's height and width
 */
svg,
img {
  height: auto;
  max-width: 100%;
  -webkit-user-drag: none; // Prevent accidental image drag
  vertical-align: bottom; // Prevent space underneath images
}

/*
 * Setup base link style
 */
a {
  color: var(--interactive-01);
  text-decoration: none;
}

/*
 * Add cursor pointer to clickable elements
 */
button,
a,
input {
  cursor: pointer;
}
