@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');

html,
body {
  color: var(--text1-gray);
  font-family: var(--sans-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
}
