.block:not(:last-child) {
  margin-bottom: var(--space00);
}

.block2:not(:last-child) {
  margin-bottom: var(--space30);
}

.container-padding {
  padding: var(--container-gap);
}

.inline-container-padding {
  padding-inline: var(--container-gap);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}